#navbar{
    border: 1px solid;
}
#contanier{
    border: 1px solid;
    display: flex;
}

#sidebar{
    border: 1px solid;
width: 13%;
height: 92vh;
padding: 1%;
}
#results{
    width: 80%;
    height: 650px;
    margin: auto;  
    border: 1px solid;
}